[submodule "abstract-art-machine"]
	path = abstract-art-machine
	url = git@github.com:philipjos/abstract-art-machine.git
[submodule "modular_synth"]
	path = modular_synth
	url = git@github.com:philipjos/modular_synth.git
[submodule "anthologize"]
	path = anthologize
	url = git@github.com:philipjos/anthologize.git
